nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    background-color: whitesmoke;
    box-shadow: 6px 6px 8px rgba(0,0,0,0.1);
  }
  
  li {
    list-style: none;
  }

  h1{
    color: #f2f2f2
  }

  h2 a {
    color: aqua;
  }

  #HeaderBio {
    margin-top: 30px;
  }

  #Section1 {
    float: left;
    width: 50%;
    background-color: yellow;
    border: 1px solid black;
    border-radius: 25px;
    padding: 20px;
    margin-top: 10px;
}

.photo {
    float: right;
    width: 40%;
}

img {
    width: 90%;
    height: auto;
}


section {
    width: 45%;
    float: left;
    text-align: justify;
}

#background {
    background-image: url(image.jpg);
    background-size: cover;
    background-position: center;
    }


    body {
        background-image: url(https://images.unsplash.com/photo-1538370965046-79c0d6907d47?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80);
        background-size: cover;
        background-repeat: no-repeat;
      }
    

    @media (max-width: 768px) {
        #Section1 {
          width: 90%;
        }
        
        .photo {
          width: 80%;
          justify-content: center
        }
        section{
          width: 90%
        }
      }

@media (max-width: 600px) {
    table {
        display: block;
        width: 100%;
    }
}

/* Adjust font size for larger screens */
@media (min-width: 1200px) {
    body {
        font-size: 1.2em;
    }
}

@media (max-width: 786px) {
    body {
        font-size: 0.75em;
    }
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: left;
    color: #f2f2f2;
  }